<h1>Log In Below:</h1>

<form action="/registrations" method="POST">
<label for="user">Name:</label>
<input type="text" id="name" name ="name"></input>
<label for="user">Email:</label>
<input type="text" id="email" name ="email"></input>
<label for="user">Password:</label>
<input type="text" id="password" name ="password"></input>
<input type="submit" value="submit">
</form>